{{yield}}
<div class="row">
  <div class="medium-12 columns">
    <p>names are: {{names}}</p>
  </div>
</div>
<div class="row">
  {{#each ingredient
      as
      |ingredient|}}
    <div class="medium-8 columns">
      <label>
        Ingredient
          {{input type="text" value=ingredient.name}}

      </label>
    </div>
    <div class="medium-4 columns">
      <label>
        Amount
        {{input type="text" value=ingredient.amount}}
      </label>
    </div>
  {{/each}}
</div>
<div class="row">
  <div class="medium-12 columns">
    <button type="button"
        class="success button"
        value="Add-ingedient"
        {{action 'add'}}>Add Ingredient</button>
  </div>
</div>