<div class="show-aromas">
		<div>{{name}}</div>
		<div>{{brand}}</div>
		<div>{{vendor}}</div>
		<div>{{price}}</div>
		<div>{{amount}}</div>
		<div>{{description}}</div>
		{{#link-to "aromas.edit" aroma.id}}Edit{{/link-to}}
</div>
