{{yield}}
<div class="row">
  <div class="medium-12 columns">
    <p>Ingredients are: {{ingredients}}</p>
  </div>
</div>
<div class="row">
  {{#each ingredient as |ingredient|}}
    <div class="medium-7 columns">
      <label>
        Ingredient
          {{input type="text" value=ingredient.name}}
      </label>
    </div>
    <div class="medium-3 columns">
      <label>
        Amount
        {{input type="text" value=ingredient.amount}}
      </label>
    </div>
    <div class="medium-2 columns">
      <button type="button" class="alert button" value="remove-ingredient" {{action "removeIngredient"}}>remove</button>
    </div>
  {{/each}}
</div>
<div class="row">
  <div class="medium-12 columns">
    <button type="button" class="success button" value="Add-ingedient" {{action 'add'}}>Add Ingredient</button>
  </div>
</div>
