<p>
  {{link-to "Aroma list" "aromas.index" }}
</p>

<h1>Aroma show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Vendor:</strong>
  <span>{{model.vendor}}</span>
</p>

<p>
  <strong>Price:</strong>
  <span>{{model.price}}</span>
</p>

<p>
  <strong>Amount:</strong>
  <span>{{model.amount}}</span>
</p>

