<form {{action "save" on="submit"}}>
	<div class="row">
		<div class="medium-6 columns">
			<label>
      		Name
     		{{input type="text" value=model.name}}
    		</label>
		</div>
	</div>
	<div class="row">
		<div class="medium-6 columns">
			<label>
      		Ingredient
      		{{input type="text" value=model.ingredient}}
    		</label>
		</div>
	</div>
	<div class="row">
		<div class="medium-6 columns">
			<button type="submit" class="success button" value="Save">Save</button>
			{{#link-to "recipes.index" class="alert button"}}Cancel{{/link-to}}
		</div>
	</div>
</form>


--new--

  <p>ingredients are: {{model.ingredient}}</p>

  {{#each model as |ingredient|}}
	<p>  {{input value=recipe.ingredient}} </p>
  {{/each}}

  <button {{action 'add'}}>insert component </button>
