<form {{action "save" on="submit"}}>
	<div class="row">

		{{#if isEditing}}
			Is Editing
		{{/if}}
	 </div>
	<div class="row">
		<div class="medium-12 columns">
			<label>
      		Name
			{{#if isEditing}}
     		{{input type="text" value=model.name}}
			{{/if}}
			{{input type="text" value=model.newRecipe.name}}
    		</label>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<label>
		   Brew Date
		   {{input type="date" value=model.newRecipe.brewDAte}}
		   </label>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<label>
		Description
		 {{input type="text" value=model.newRecipe.description}}
		 </label>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<label>
		 Steep time
		 {{input type="number" value=model.newRecipe.steepTime}}
		 </label>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<label>
		 Brew Plan
		 {{input type="text" value=model.newRecipe.brewPlan}}
		 </label>
		</div>
	</div>
	<div class="row small-up-1 medium-up-2 large-up-6">
		{{#each model.aromas as |aroma|}}
			{{#aroma-component name=aroma.name description=aroma.description}}
			{{/aroma-component}}
		{{/each}}
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<button type="submit" class="success button" value="Save">Save</button>
			{{#link-to "recipes.index" class="alert button" }}Cancel{{/link-to}}
		</div>
	</div>
</form>
